.btn {
  background: #316a6d;
  border-radius: 1.7rem;
  border: 0.1rem solid #316a6d;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  color: #ffffff;
  min-height: 5.6rem;
  min-width: 18.7rem;
  cursor: pointer;
}
