html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 1.6px */
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
  background-color: #323232;
  color: #fff;
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h4 {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
}

h3 {
  font-family: "Cutive Mono", monospace;
  font-size: 3.8rem;
  color: #fff;
  font-weight: 400;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

h4 {
  font-size: 1.2rem;
}

nav {
  font-family: "Cutive Mono", monospace;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.skip-link {
  background: #316a6d;
  color: #fff;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  top: -1px;
}

.skip-link:focus {
  transform: translateY(0%);
  top: 0;
}

.container {
  margin-top: -82px;
}

.container.scrolled {
  margin-top: 0;
}

.home {
  height: 100vh;
  background-image: url("../assets/section1-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12rem;
  position: relative;
}

.home .mainTextContainer .name {
  width: 80%;
  min-width: 30rem;
  letter-spacing: 2.275rem;
}

.home .mainTextContainer p {
  width: 55%;
  min-width: 28rem;
  margin: 2rem 0;
  line-height: 1.84;
  font-size: 2.4rem;
}

.home .buttonContainer {
  display: flex;
  flex-wrap: wrap;
}

.home .buttonContainer button {
  flex-basis: 20%;
  min-width: 16rem;
  margin: 0.5rem;
}

.home .scrollDownContainer {
  position: absolute;
  bottom: 15px;
  left: 50%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .container {
    margin-top: 0;
  }

  .home {
    padding: 2rem;
    justify-content: flex-start;
  }

  .home .mainTextContainer .name {
    letter-spacing: 0.675rem;
  }

  .home .mainTextContainer p {
    font-size: 2rem;
  }
}
