.header {
  position: sticky;
  display: flex;
  padding: 5px;
  top: 15px;
  flex-flow: row wrap;
  z-index: 1;
  transition: all ease-in-out 0.3s;
}

.header.active {
  top: 0;
  background: linear-gradient(
    269.61deg,
    #212121 0.05%,
    #7d7d7d 101.12%,
    #212121 101.12%
  );
}

.logoWrapper {
  flex: 1 0 10%;
  display: flex;
  justify-content: center;
}

.logo {
  visibility: hidden;
}

.header.active .logo {
  visibility: visible;
}

.menuWrapper {
  flex: 1 0 50%;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}
